
.header { 
    list-style: none;
    padding: 0px;
}

.header ul {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.header li {
    margin-left: 0%;
}

.userIcon {
    cursor: pointer;
}
.userIcon:hover {
    color: black;
    transition: .4s;
}

.logoutIcon {
    cursor: pointer;
    padding-top: 5px;
}
.logoutIcon:hover {
    color: black;
    transition: .4s;
}

.newRecipeIcon {
    position: fixed;
    bottom: 10%;
    right: 10%;
    cursor: pointer;
}
.newRecipeIcon:hover {
    color: aqua;
    transition: .4s;
}

.editIcon {
    position: fixed;
    right: 10%;
}

.listUl {
    justify-content: space-between;
}