.formContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.uiForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
}

.formField {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.errorMsg {
    color: red;
    margin: 0;
    align-self: flex-start;
}

.msgOk {
    color: green;
    margin-top: 15px;
}

.logo {
    margin-left: 5%;
}